html
  include head.pug

  body
    .container
      include nav.pug
      .hero
        div
          h1.logo Georgi Nikolov
          h2.title Frontend Developer
        ul.social
          li
            a(
              href="https://twitter.com/georgiNikoloff"
              target="_blank"
              rel="noopener noreferrer"
            ) Twitter
          li
            a(
              href="https://github.com/gnikoloff"
              target="_blank"
              rel="noopener noreferrer"
            ) Github
          li
            a(
              href="https://codepen.io/gbnikolov"
              target="_blank"
              rel="noopener noreferrer"
            ) Codepen
          li
            a(
              href="https://www.dwitter.net/u/nikoloffgeorgi"
              target="_blank"
              rel="noopener noreferrer"
            ) Dwitter
        p(style="margin-top: 0;") nikoloffgeorgi@gmail.com

      h1 About
      div.about-wrapper
        aside
          img(
            src=document.data.mugshot.url
            alt=document.data.mugshot.alt
          )
        main !{PrismicDOM.RichText.asHtml(document.data.text, linkResolver)}
      div !{PrismicDOM.RichText.asHtml(document.data.experience, linkResolver)}

      a(href="/").back-link Back

  include footer.pug
  