html
  include head.pug

  body.homepage
    .container
      include nav.pug
      include logo.pug
      each year in Object.keys(projects).sort((a, b) => parseInt(b) - parseInt(a))
        article.year-wrapper
          h2.year-title #{year}
          .works
            each project in projects[year]
              section.preview(
                  data-image=project.data.project_image.url
                  data-alt=project.data.project_image.alt
                )
                a(href=`/${baseProjectPath}/${project.uid}`)
                  div.preview-image-wrapper
                  h3.preview-title !{project.data.project_title[0].text}
                  h5.preview-type !{project.data.project_type[0].text}


  include footer.pug