html
  include head.pug

  body.contact
    .container
      include nav.pug
      .hero
        div
          h1.logo Georgi Nikolov
          h2.title Frontend Developer
        ul.social
          li
            a(
              href="https://twitter.com/georgiNikoloff"
              target="_blank"
              rel="noopener noreferrer"
            ) Twitter
          li
            a(
              href="https://github.com/gnikoloff"
              target="_blank"
              rel="noopener noreferrer"
            ) Github
          li
            a(
              href="https://codepen.io/gbnikolov"
              target="_blank"
              rel="noopener noreferrer"
            ) Codepen
          li
            a(
              href="https://www.dwitter.net/u/nikoloffgeorgi"
              target="_blank"
              rel="noopener noreferrer"
            ) Dwitter

      div.contact-wrapper
        form#contact-form
          div.form-group
            label(for="name") Name:
            input.full-width.contact-input(name="Name" id="name" type="text" required)
          div.form-group
            label(for="email") Email:
            input.full-width.contact-input(name="Email" id="email" type="email" required)
          div.form-group
            label(for="project-type") Inquiry type:
            select.full-width.contact-input(name="Project Type" id="project-type" required) 
              option(value="")
              option(value="Project") Project
              option(value="Collaboration") Collaboration
          div.form-group#budget-group
            label(for="budget") Budget:
            div
              input.contact-input(name="Budget" id="budget" type="number" min="0")
              span &nbsp;USD
          div.form-group
            label(for="message") Message:
            textarea.full-width.contact-input(name="Message" id="message" required)
          div.form-group.inline-form-group
            input.contact-input(name="agreement" id="agreement" type="checkbox" required)
            label(for="agreement") Confirm I am not a recruiter
          div.form-group
            input.full-width.contact-input.submit-btn(type="submit" value="Send")

        
      a(href="/").back-link Back

  include footer.pug
  