html
  include head.pug

  body.contact
    .email-send-loader-wrapper
      .email-send-loader
    .container
      include logo.pug
      include nav.pug
      +navMixin(false, "/")
      include socials.pug

      div.contact-wrapper
        .contact-form-success
          svg(
            viewBox="0 0 32 32"
            width="32"
            height="32"
            style="width: 64px; height: 64px;"
            xmlns="http://www.w3.org/2000/svg"
          )
            defs
              style.
                .cls-1{fill: green;}
            g
              path.cls-1(
                d="M16,31A15,15,0,1,1,31,16,15,15,0,0,1,16,31ZM16,3A13,13,0,1,0,29,16,13,13,0,0,0,16,3Z"
              )
              path.cls-1(
                d="M13.67,22a1,1,0,0,1-.73-.32l-4.67-5a1,1,0,0,1,1.46-1.36l3.94,4.21,8.6-9.21a1,1,0,1,1,1.46,1.36l-9.33,10A1,1,0,0,1,13.67,22Z"
              )
            
          h3 Thanks! Your message was successfuly received
          p I will get back to you as soon as possible
        .contact-form-wrapper
          p I am available for freelance work, cool new projects and collaborations.
          p Get in touch and let's build the next web.

          form#contact-form
            div.form-group
              label(for="name") Name:
              input.full-width.contact-input(name="Name" id="name" type="text" required)
            div.form-group
              label(for="email") Email:
              input.full-width.contact-input(name="Email" id="email" type="email" required)
            div.form-group
              label(for="project-type") Reason for contact:
              select.full-width.contact-input(name="Project Type" id="project-type" required) 
                option(value="")
                option(value="Project") Project
                option(value="Collaboration") Collaboration
                option(value="Collaboration") General inquiry
            div.form-group#budget-group
              label(for="budget") Budget:
              div
                input.contact-input(name="Budget" id="budget" type="number" min="0")
                span &nbsp;USD
            div.form-group
              label(for="message") Message:
              textarea.full-width.contact-input(name="Message" id="message" required)
            div.form-group.inline-form-group
              input.contact-input(name="agreement" id="agreement" type="checkbox" required)
              label(for="agreement") Confirm I am not a spammer
            div.form-group
              input.full-width.contact-input.submit-btn(type="submit" value="Send")

        
      a(href="/").back-link Back

  include footer.pug
  