html
  include head.pug

  body.cv
    .container
      include logo.pug
      include nav.pug

      a.print.print-top(href="/cv")
        svg.print-icon(
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          width="24"
          height="24"
          viewBox="0 0 30 30"
        )
          path(fill="blue" d="M26,9H4c-1.105,0-2,0.895-2,2v9c0,1.105,0.895,2,2,2h3v-8h16v8h3c1.105,0,2-0.895,2-2v-9C28,9.895,27.105,9,26,9z")
          rect(height="12" style="fill:none;stroke:blue;stroke-width:2;stroke-miterlimit:10;" width="16" x="7" y="14")
          path(fill="blue" d="M24,7H6V5c0-0.552,0.448-1,1-1h16c0.552,0,1,0.448,1,1V7z")
        p.print-txt Download PDF
      div.cv-wrapper
        div.intro-web !{PrismicDOM.RichText.asHtml(document.data['intro-web'], linkResolver)}
        div.intro.intro-print !{PrismicDOM.RichText.asHtml(document.data['intro-print'], linkResolver)}
        div.skills-wrapper
          h2 Skills
          div.skills-section
            h3 Programming
            | !{PrismicDOM.RichText.asHtml(document.data['programming'], linkResolver)}
          div.skills-section
            h3 Web
            | !{PrismicDOM.RichText.asHtml(document.data['web'], linkResolver)}
          div.skills-section
            h3 Apple
            | !{PrismicDOM.RichText.asHtml(document.data['ios'], linkResolver)}
          div.skills-section
            h3 Computer Graphics
            | !{PrismicDOM.RichText.asHtml(document.data['computer_graphics'], linkResolver)}
          div.skills-section
            h3 Backend
            | !{PrismicDOM.RichText.asHtml(document.data['backend'], linkResolver)}
          div.skills-section
            h3 Languages
            | !{PrismicDOM.RichText.asHtml(document.data['languages'], linkResolver)}
          div.skills-section
            h3 Software
            | !{PrismicDOM.RichText.asHtml(document.data['software'], linkResolver)}
          div.skills-section
            h3 Hobbies
            | !{PrismicDOM.RichText.asHtml(document.data['hobbies'], linkResolver)}
        div.skills-wrapper
          h2 Works
          each workEntry in document.data.work
            div.skills-section.experience-section
              | !{PrismicDOM.RichText.asHtml(workEntry["work-entry"], linkResolver)}
        div.skills-wrapper
          | !{PrismicDOM.RichText.asHtml(document.data['education'], linkResolver)}

      a.print.print-bottom(href="/cv")
        svg.print-icon(
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          width="24"
          height="24"
          viewBox="0 0 30 30"
        )
          path(fill="blue" d="M26,9H4c-1.105,0-2,0.895-2,2v9c0,1.105,0.895,2,2,2h3v-8h16v8h3c1.105,0,2-0.895,2-2v-9C28,9.895,27.105,9,26,9z")
          rect(height="12" style="fill:none;stroke:blue;stroke-width:2;stroke-miterlimit:10;" width="16" x="7" y="14")
          path(fill="blue" d="M24,7H6V5c0-0.552,0.448-1,1-1h16c0.552,0,1,0.448,1,1V7z")
        p.print-txt Download PDF

      a(href="/").back-link Back
  include footer.pug
  