.container
  footer.app-footer
    .footer-wrapper
      div.copyright © Georgi Nikolov #{new Date().getFullYear()}
      ul.social
        li
          a(
            href="https://twitter.com/georgiNikoloff"
            target="_blank"
            rel="noopener noreferrer"
          ) Twitter
        li
          a(
            href="https://github.com/gnikoloff"
            target="_blank"
            rel="noopener noreferrer"
          ) Github
        li
          a(
            href="https://codepen.io/gbnikolov"
            target="_blank"
            rel="noopener noreferrer"
          ) Codepen
    
  div.legal
    .footer-wrapper
      ul.social
        li
          a(href="/imprint") Legal Notice

script(src="/index.js")

<!-- Global site tag (gtag.js) - Google Analytics -->
script(
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-21F9NLCZHC"
)
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-21F9NLCZHC');
