.container
  footer.app-footer
    div © Georgi Nikolov #{new Date().getFullYear()}
    ul.social
      li
        a(
          href="https://twitter.com/georgiNikoloff"
          target="_blank"
          rel="noopener noreferrer"
        ) Twitter
      li
        a(
          href="https://github.com/gnikoloff"
          target="_blank"
          rel="noopener noreferrer"
        ) Github
      li
        a(
          href="https://codepen.io/gbnikolov"
          target="_blank"
          rel="noopener noreferrer"
        ) Codepen

script(src="index.js")