doctype html
html(lang="en")
  head
    title=title

    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(
      name="title"
      content=title
    )
    meta(
      name="description"
      content=(seoDescription || 'Projects and articles by frontend developer Georgi Nikolov')
    )

    meta(
      property="og:type"
      content="website"
    )
    meta(
      property="og:url"
      content="https://georgi-nikolov.com/"
    )
    meta(
      property="og:title"
      content=title
    )
    meta(
      property="og:description"
      content=(seoDescription || 'Projects and articles by frontend developer Georgi Nikolov')
    )

    meta(
      property="twitter:card"
      content="summary"
    )
    meta(
      property="twitter:url"
      content="https://georgi-nikolov.com/"
    )
    meta(
      property="twitter:title"
      content=title
    )
    meta(
      property="twitter:description"
      content=(seoDescription || 'Projects and articles by frontend developer Georgi Nikolov')
    )

    link(
      rel="stylesheet"
      href="/index.css"
    )
    link(
      rel="alternate"
      type="application/rss+xml"
      href="https://georgi-nikolov.com/feed.rss"
      title="Georgi Nikolov"
    )
