html
  include head.pug

  body.single-work
    .container
      include logo.pug
      include nav.pug
      +navMixin(true, "/speaking")

      .single-project-title
        h1 !{project.data.project_title[0].text}
        h5.preview-year !{project.data.project_year[0].text}  
      h5.preview-type !{project.data.project_type[0].text}
      div !{PrismicDOM.RichText.asHtml(project.data.project_body, null, htmlSerializer)}

      footer.single-project-footer
        a(href=prevProjectLink).back-link &larr; !{prevProjectName}
        a(href=nextProjectLink).back-link !{nextProjectName} &rarr;

  include footer.pug
  