ul.social
  li
    a(
      href="https://twitter.com/georgiNikoloff"
      target="_blank"
      rel="noopener noreferrer"
    ) X
  li
    a(
      href="https://bsky.app/profile/georgi-nikolov.com"
      target="_blank"
      rel="noopener noreferrer"
    ) BlueSky
  li
    a(
      href="https://github.com/gnikoloff"
      target="_blank"
      rel="noopener noreferrer"
    ) Github
  li
    a(
      href="https://codepen.io/gbnikolov"
      target="_blank"
      rel="noopener noreferrer"
    ) Codepen
  li
    a(
      href="https://www.dwitter.net/u/nikoloffgeorgi"
      target="_blank"
      rel="noopener noreferrer"
    ) Dwitter